.game-board {
    background-color: #E6E6FA;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    display: flex;
    gap: 10px;
    padding-top: 50px;
}

.game-card {
    width: 21vw;
    height: 21vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0cada8;
    padding: 5px;
    border-radius: 10px;

}

.img {
    border-radius: 10px;
    width: 20vw;
    object-fit: cover;
}

.link-txt {
    color: white;
    font-weight: bolder;
}

