.card{
    width: 15%;
    height: 12vh;
}

.card-back,
.card-front {
    width: 100%;
    height: 12vh;
    border-radius: 10px;
    margin: 2px;
    text-align: center;
    align-content: center;
    font-size: 7vh;
}


.card-front {
    background-color: var(--btn-hover-color);
}

.card-back {
    background-color: var(--footer-color);
}

.players {
    border-width: 3px;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    font-weight: bolder;

}