.board {
    border: 1px solid white;
    width: 85vh;
    height: 85vh;
    margin: 0 auto;
}

.box {
    transition: background-color 300ms linear;
    text-align: center;
    align-content: center;
}