@tailwind base;
@tailwind components;
@tailwind utilities;

/* --primary-font:"Comic San MS Poppins"
--secondary-font:"Baloo fredoka" for headings */
:root {
  --bg-color: #FFFAE3;
  --text-color: #333333;
  --btn-color: #A8E6CF;
  --btn-hover-color: #98FB98;
  --nav-color: #A8E6CF;
  --btn-txt-color: #FFFFFF;
  --link-color: #FFA07A;
  --gameArea-bg-color: #E6E6FA;
  --footer-color: #F08080;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

::selection {
  display: none;
}

button {
  background-color: var(--btn-color);
  color: var(--btn-txt-color);
  padding: 10px;
  border-radius: 10%;

  &:hover {
    background-color: var(--btn-hover-color);
    scale: 1.2;
  }
}

.game-board {
  background-color: var(--gameArea-bg-color);
  width: 100vw;
  height: 100vh;
}

.card-back,
.card-front{
  width: 15vh;
  height: 15vh;
  border-radius: 10px;
  margin: 2px;
  text-align: center;
  align-content: center;
  font-size: 7vh;
}


.card-front {
  background-color: var(--btn-hover-color);
}

.card-back {
  background-color: var(--footer-color);
}