@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #fffae3;
  --text-color: #333333;
  --btn-color: #A8E6CF;
  --btn-hover-color: #98FB98;
  --btn-txt-color: #FFFFFF;
  --link-color: #FFA07A;
  --footer-color: #F08080;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body {
  overflow-y: auto;
  background-color: var(--bg-color);
  color: var(--text-color);
  box-sizing: border-box;
}

::selection {
  display: none;
}

header {
  color: var(--btn-hover-color);
  text-shadow: 1px 1px rgb(150, 169, 33);
  font-size: 5vw;
  font-weight: bold;
}

.normal-btn {
  background-color: var(--btn-color);
  color: var(--btn-txt-color);
  border-radius: 10%;
  padding: 0px 3px;
}

.normal-btn:hover {
  background-color: var(--btn-hover-color);
  scale: 1.2;
}

.screen {
  z-index: 999;
  width: 100vw;
  height: 150vh;
  background-color: var(--footer-color);
  margin-top: -1250px;
  position: absolute;
}

@media (max-width: 690px) {
  .logo {
    text-shadow: 3px 1px rgb(18, 165, 18);
  }
}