.main-boxes-container {
    display: flex;
    flex-direction: column;
    width: min(80vw, 650px);
    height: min(80vw, 650px);
    position: relative;
}

.input-box-container {
    display: flex;
    gap: 2px;
    flex-grow: 1;
    margin: 2px 0;

    &>input {
        flex-grow: 1;
        width: 100%;
        vertical-align: center;
        text-align: center;
        font-size: 3.5vw;
        border-radius: 10px;
        background-color: var(--text-color);
        color: var(--btn-txt-color);
        pointer-events: none;
        opacity: 0.85;
        transition: background-color 0.5s linear;

        &:focus {
            opacity: 1;
            outline: 2px solid white;
            outline-offset: -5px;
        }
    }

    &:nth-of-type(6)>input {
        color: var(--btn-txt-color);
        background-color: var(--btn-hover-color);
    }
}



.other-utility-container {
    background-color: transparent;
    width: 112%;
    height: 82%;
    position: absolute;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;

    &>p {
        /* color: var(--text-color); */
        height: 20%;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}