.box {
    border: 1px solid black;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.num-box {
    width: 80%;
    height: 80%;
    color: white;
    background-color: orange;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
    transition: all 2s linear;
}